.overlayContainer {
  width: 1920px;
  height: 1080px;
  position: absolute;
}

.overlayContainer > .gameStatusOverlay, .overlayContainer > .playerPointsOverlay {
  opacity: 1;
  transition: opacity .2s;
}

.overlayContainer.gameInactive > .gameStatusOverlay, .overlayContainer.gameInactive > .playerPointsOverlay {
  opacity: 0 !important;
}

.gameStatusOverlay {
  display: inline-flex;
  background-image: linear-gradient(100deg, rgba(142, 196, 203, 0.8), rgba(142, 196, 203, 0.6) calc(100% - 30px), rgba(0, 0, 0, 0) calc(100% - 30px));
  flex-direction: row;
  top: 50px;
  left: 0;
  position: relative;
  height: 80px;
  align-items: center;
  padding: 24px 60px 24px 24px;
}

.gameStatusOverlay h2 {
  font-size: 72px;
}

.gameStatusOverlay .sticksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
}

.gameStatusOverlay .stickPairing {
  font-size: 32px;
}

.gameStatusOverlay .stick {
  width: 130px;
  height: 13px;
  background-color: white;
  border-radius: 4px;
}

.stickPairing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.stick {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 8px;
}

.riichiStick span {
  width: 8px;
  height: 8px;
  background-color: red;
  display: block;
  border-radius: 4px;
}

.honbaStick span {
  width: 4px;
  height: 4px;
  background-color: black;
  margin: 0 2px;
  display: block;
  border-radius: 2px;
}

.doraContainer {
  display: flex;
  flex-direction: row;
  margin-left: 24px;
}

.tileContainer {
  background-color: white;
  height: 100%;
  display: flex;
  height: 76px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 1px;
  margin: 0px 5px
}

.tileContainer .tile {
  border: none;
  height: 80%;
  margin: 0px 6px;
}

.playerPointsOverlay {
  position: absolute;
  bottom: 60px;
  left: 100px;
  width: calc(100% - 200px);
}

.playerPointsOverlayCardContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.playerPointsOverlayCard {
  height: 130px;
  width: 370px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  transform: skewX(-10deg);
  z-index: 3;
}

.playerCoreInfo {
  background-color: rgba(142, 196, 203, 0.8);
  width: 100%;
  padding: 8px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerCoreInfo > h1, .playerCoreInfo >  h3 {
  transform: skewX(10deg);
}

.playerPointsOverlayCard h1 {
  transform: skewX(10deg) translateX(-5px);
  font-size: 56px;
  margin: 0;
  transition: color .2s;
}

.playerPointsOverlayCard h1.positive {
  color: rgb(10, 130, 60);
}

.playerPointsOverlayCard h1.negative {
  color: rgb(190, 45, 45);
}

.playerPointsOverlayCard h3 {
  font-size: 32px;
  margin: 0;
}

.playerPointsSubtitleContainer {
  background-color: rgba(142, 196, 203, 0.6);
  width: 100%;
}

.playerPointsSubtitleContainer.hidden p {
  opacity: 0;
}

.playerPointsSubtitleContainer p {
  margin: 5px 0;
  transform: skewX(10deg) translateX(3px);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 36px;
  font-size: 32px;
}

.playerDealerIndicator {
  margin: 5px 0;
  transform: skewX(10deg) translateX(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlayPlayerIndicators {
  transform: skew(-10deg);
  font-size: 36px;
  position: relative;
  top: 20px;
  left: 35.3px;
}

.overlayPlayerIndicators > div {
  display: inline-block;
  padding: 4px 15px;
  margin-right: 10px;
  opacity: 1;
  transition: opacity .2s;
}

.overlayPlayerIndicators > div.inactive {
  opacity: 0;
}

.overlayPlayerIndicators > div.nonDealer {
  position: absolute;
  left: 0;
  bottom: 0;
}

.overlayTenpaiIndicator.dealer {
  position: relative;
  left: -124px;
}

.overlayPlayerIndicators span {
  display: block;
  transform: skew(10deg);

  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
}

.overlayDealerIndicator {
  background-color: rgba(150, 150, 150, 0.8);
}


.overlayRiichiIndicator {
  background-color: rgba(229, 143, 143, 0.8);
}


.overlayTenpaiIndicator {
  background-color: rgba(233, 173, 128, 0.8);
}
